body{
    font-size: 16px;  /*default size*/
    color: white;
    background-color: brown;
    font-family: 'Oxygen', sans-serif;

}
/* HEADER */

#header-nav
{
    background-color: #fac966;
}


/* logo image */

#logo-img
{
    border: 2px solid black;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    margin-right:15px ;
}

/* restuarnt name */


.navbar-brand a{
    text-decoration: none;
  }


  
.navbar-brand h1 { /* Restaurant name */
    /* font-family: 'Lora', serif; */
    font-family: 'Phudu', cursive;
    color: #f55;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px #222;
  
    
  }

/* navbar menu */

#nav-list{
    /* border: 2px solid white; */
    margin-top:10px ;
    font-family: 'Phudu', cursive;
    


}

#nav-list a {
    color: #f55;
    text-align: center;
  }

#nav-list a:hover {
    background:  #E7E7E7;
  }

#nav-list a span {
    font-size: 1.9em;
    border: 2 px solid white;
  }

#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;

  }

  #phone div { /* We Deliver */
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
  }
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

/* every div element that has row class inside the element which have panel-footer class */
.panel-footer div.row {
  margin-bottom: 35px;
}
/* give the margin between the address,hours,testimonials and copyright info */

#hours,#address,#testimonials
{
    line-height: 2;
}

#hours > span, #address > span ,.test{
  font-size: 1.3em;
}

/* * Delivery area within 20-30 kms, with minimum order of Rs. 500 plus $3 charge for all deliveries. */
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials p
{
  font-style: italic;
}

/* FOOTER ENDS  */


/* HOME PAGE */

.container .jumbotron
{
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  margin-top:30px ;
  padding: 0px;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  /* 100% width is of the div which have class="col-md-4 col-sm-12 col-xs-12" means if container takes 4 colujmn then width of content is 100%in that 4 columns*/
 
  margin-top: 15px;
  margin-bottom: 15px;
 
  /* means anchor is created in posiiotn relative and space of the moved elemnt is not taken and using right,left props we moved the lement */
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  /* if content is overflow please hidden that */
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* setting the image */
#menu-tile {
  background: url('../images/menu2.jpeg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials2.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

/* test- menu,specials,map is beech mein aaana haia with some deign */
#menu-tile span, #specials-tile span, #map-tile span {

  /* means position of span is absolute relative to its parent menu-title element */
  position: absolute;  
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}


/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title
{
  margin-top: 25px;
}

/* the next sibling of the element that has the id menu-categories-tile */

#menu-categories-title + div {
  margin-bottom: 50px;

}

/* MENU CATEGORIES PAGE END*/


/* SINGLE CATEGORIES PAGE */

/* whole first menu , then  2nd menu cell and so on so that next item below have some margin */
.menu-item-tile
{
  /* border: 2px solid white; */
 
  margin-bottom: 25px;
}

.menu-item-tile hr {
  width: 80%;
  margin: auto;
}

.menu-item-tile .menu-item-price {
  font-size: 1.2em;
  text-align: right;

  /* here we use below margin because when we position the item no D01,D02 so that the price is neeche khisak gayi thee so we need to align properly */
  margin-top: -15px;
  margin-right: -15px;
 
}

.menu-item-tile .menu-item-price span {
  font-size: .6em;
}

.menu-item-photo {
  border: 2px solid #3F0C1F; 
  max-width: 250px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
}

.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

/* give some gap between the browser edge from right side and items */
.menu-item-description {
  padding-right: 30px;
}

/* every h3 that have men-item-title class */
h3.menu-item-title {
  margin: 0 0 10px 0;
}
.menu-item-details {
  font-size: .8em;
  font-style: italic;
}


/* SINGLE CATEGORIES  PAGE END  */





/* MEDIA QUERIES */

/********** Large and xtra large devices only **********/
@media (min-width: 992px) {

  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #logo-img {
    /* background: url('../images/restaurant-logo_medium.png') no-repeat; */
    width: 90px;
    height: 90px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* hOME PAGE  */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  .col-md-3 {
    margin: 30px;
  }




}  




/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }

  .col-sm-4
  {
    margin: 20px;
  }

}

/********** Extra small devices only **********/
@media (max-width: 576px) {



  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  #star{ /* Star-K */
    height: 10px;
    width: 10px;
}
/* Authentic indian food */
#subhead
{
    font-size: 2vw;
}
  /* Home Page */
/* .container .jumbotron {
    background-color:blue;
    margin-top: 30px;
    padding: 0;
  } */
  /* why we use .container also ? because in bpoostrap.css they use these 2 classes for seeting the padding right and left so some gap between jumbotron container and image is occur so to remove these gaps we use 2 classes to override boostrap css rule  */
  
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 300px;
  }





  #call-btn > a {
    /* border: 2px solid blue; */
    font-size: 1.5em;
    display: block;
    margin: 10px 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .9em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  #menu-tile, #specials-tile {
    width: 245px;
    margin: 10px auto 15px;
  }

  /* FOOTER for extra small devices*/
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }

  .panel-footer  hr {
   width: 50%;
   margin: auto;


  }


  /* FOOTER END */

  /* SINGLE CATEGORY PAGE */

  .menu-item-photo
  {

    /* here we  =remove all the props except margin-right:auto becuase of the inheritence becaue we target same element with 2 diff properties so they merge  but here i keep that to understand */
  border: 2px solid #3F0C1F;
  max-width: 250px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  }
  .menu-item-description {
    /* padding-right: 30px; */
    text-align: center;
  }

  .menu-item-tile .menu-item-price {
    /* font-size: 1.2em; */
    text-align: center;
    
  }


  /* SINGLE CATEGORY PAGE END */




}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 7vw;
  }
   #subhead
  {
    font-size: 3vw;
  }


  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    /* width: 280px; */
    margin: 10px auto 15px;
  }

  /* menu categories  */
  .col-xs-6
  {
    /* border: 2px solid salmon; */
    position: relative;
    margin: auto;

  }

}